#box{
    display: flex;
    justify-content: space-around;
  }

  *{
    margin: 0;
    padding: 0;

}
#navbar{
    display: flex;
    list-style: none;
   
   background-color: rgb(236, 249, 249);
   
padding-left: 65vw;
height: 4vw;
border: 2px solid black;


}
#active:active{
  color: red;

}

#navbar li{
  
    font-size: 3vh;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 16px;

}

a{
margin-right: 20px;
    text-decoration: none;
    color: rgb(87, 64, 64);
}
  form {
    margin: 0 auto;
    margin-top: 50px;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  label {
    font-size: 20px;
  }
  

  
  * {
    box-sizing: border-box;
  }
  
  input[type="text"],
  input[type="number"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type="submit"] {
    background-color: #2b619e;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
  }
  
  input[type="submit"]:hover {
    background-color: #3973b6;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  h1 {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    font-family: monospace;
    color: #2b619e;
    text-decoration: underline;
  }
  
  